.home-container {
  display: grid;

  grid-template-rows: calc(100vh - var(--navbar-height)) 40vw repeat(
      2,
      min-content
    );
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end] minmax(6rem, 1fr) [full-end];
}

.showcase {
  grid-column: full-start / full-end;
  background: green;
}

.section-about {
  grid-column: center-start / center-end;
  background: skyblue;
}

.features {
  grid-column: center-start / center-end;
  background: yellow;
}

.popular-tours {
  grid-column: center-start / center-end;
  background: red;
}
